* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eaf3f7;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.progress-bar .step {
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    color: #666;
}

.progress-bar .step.active {
    color: #fff;
    background-color: #d46900;
}

.progress-bar .step:not(.active) {
    color: #4a678d;
}

.trip-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input:focus {
    outline: none;
    border-color: #4a678d;
}

.form-group .error-message {
    color: #d46900;
    font-size: 12px;
    display: none; /* Display this only when there's an error */
}

.date-group {
    display: flex;
    gap: 10px;
}

.date-group input {
    width: 50%;
}

.continue-button {
    background-color: #4a678d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.continue-button:hover {
    background-color: #3a5571;
}
