.formContainer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.tripForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

.formGroup input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formGroup input:focus {
    outline: none;
    border-color: #4a678d;
}

.formGroup .errorMessage {
    color: #d46900;
    font-size: 12px;
    display: none; /* Display this only when there's an error */
}

.dateGroup {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.dateGroup input {
    width: 100%;
}

.continueButton {
    background-color: #4a678d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.continueButton:hover {
    background-color: #3a5571;
}