.rightSide {
    background-color: #FFFFFF; /* White background for the box */
    color: #333; /* Dark text for contrast */
    padding: 40px; /* Inner spacing for the form */
    width: 350px; /* Restrict the width for a compact box */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Shadow for the box */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto; /* Center the box vertically */
}


.container {
    display: flex;
    height: 100vh; /* Full height to match the viewport */
    width: 100%;
    flex-direction: row; /* Left and right side next to each other */
}




.rightSide h2 {
    font-size: 30px; /* Increase font size */
    font-weight: bold;
    margin-bottom: 30px; /* Add spacing below the title */
}

.loginForm {
    width: 100%; /* Ensure the form spans the container width */
    max-width: 300px; /* Set a max width */
    display: flex;
    flex-direction: column;
}

.loginForm label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left; /* Align labels to the left */
}

.loginForm input {
    background-color: #FFFFFF; /* White background for inputs */
    color: #333; /* Dark text for readability */
    padding: 10px; /* Inner spacing */
    margin-bottom: 15px; /* Spacing between fields */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners for consistency */
    font-size: 16px;
    outline: none; /* Removes the default browser outline */
}

.signInButton {
    width: 100%;
    padding: 12px;
    background-color: #274690;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signInButton:hover {
    background-color: #1e3678;
}

.links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
}

.links a {
    color: #274690;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
