.rightSide {
    background-color: #F5F5F5; /* Light background for contrast */
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
}

.rightSide h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.signupForm {
    display: flex;
    flex-direction: column;
}

.signupForm label {
    font-size: 14px;
    margin-bottom: 5px;
}

.signupForm input {
    background-color: #FFFFFF; /* White background for inputs */
    color: #333; /* Dark text for readability */
    padding: 10px; /* Inner spacing */
    margin-bottom: 15px; /* Spacing between fields */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners for consistency */
    font-size: 16px;
    outline: none; /* Removes the default browser outline */
}

.signUpButton {
    padding: 12px;
    background-color: #274690;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signUpButton:hover {
    background-color: #1e3678;
}

.links {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.links a {
    color: #274690;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}